---
---

@import "{{ site.theme }}";

@import 'https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700';
@import 'https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500,700';

body {
  background-color: #222;
  color: #fdfdfd;
  font-family: 'IBM Plex Sans', helvetica, sans-serif;
}

th {
  color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  color: #fdfdfd;
}

h1 {
  font-weight: 300;
}

h2, h3, h4, h5, h6 {
  font-weight: 500;
}

p, strong, em {
  color: #fdfdfd;
}

p {
  font-weight: 400;
}

strong {
  font-weight: 700;
}

a {
  color: #00aeef;
  font-weight: inherit;
}

a:hover {
 color: #ec008c;
 font-weight: inherit;
}

code, pre {
  font-family: 'IBM Plex Mono', Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #fafafa;
  font-weight: inherit;
}